{% extends "../root.html" %}

{% block body %}
<div class="container">
    <div class="card" style="margin-top: 20px;">
        <div class="card-header">
            {{ _("Versions") }}
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <td class="font-weight-bold" style="width: 200px;">{{ _("Site version") }}</td>
                    <td>{{ config.APP_VERSION }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">{{ _("Tornado version") }}</td>
                    <td>{{ tornado_version }}</td>
                </tr>
                <tr>
                    <td class="font-weight-bold">{{ _("Python version") }}</td>
                    <td>{{ python_version }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% end %}