{% extends "../root.twig" %}
{% autoescape None %}
{% block body %}
<div class="container">
    <div class="card" style="margin-top: 20px;">
        <div class="card-header">
            {{ _("All users") }}
        </div>
        <div class="card-body">
            {{ grid }}
        </div>
    </div>
</div>
{% end %}