{% if current_user %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarUserInfoDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {{ obj_tools.get_value_by_key(current_user,"nickname") or obj_tools.get_value_by_key(current_user,"first_name") }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarUserInfoDropdown">
            <a class="dropdown-item" href="{{ URL('user','profile') }}">Profile</a>
            <a class="dropdown-item" href="{{ URL('user','logout') }}">Logout</a>
            {% if is_admin or is_operator or is_leader %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ URL('AdminPanel','admin','index') }}">网站后台</a>
            {% endif %}
        </div>
    </li>
{% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ URL('user','login') }}">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ URL('user','register') }}">Register</a>
    </li>
{% endif %}