<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.APP_NAME }}</title>
    <link rel="stylesheet"
          href="{{ URL('libs','bootstrap-4.4.1-dist','css','bootstrap.min.css',vars=dict(version=config.APP_VERSION)) }}">
    <script src="{{ URL('libs','jquery-3.4.1.min.js',vars=dict(version=config.APP_VERSION)) }}"></script>
    <script src="{{ URL('libs','bootstrap-4.4.1-dist','js','bootstrap.bundle.min.js',vars=dict(version=config.APP_VERSION)) }}"></script>
</head>
<body>
{% if response.alert or response.success %}
    <div class="cms4py-response-alert-container" style="position: fixed;top: 100px;left: 50%;z-index: 10000;">
        <div class="alert {% if response.alert %}alert-warning{% elif response.success %}alert-success{% else %}alert-info{% endif %} alert-dismissible fade show cms4py-response-message"
             role="alert">
            <strong>{{ response.alert or response.success }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <script>
        (function () {
            var message = $(".cms4py-response-message");
            var messageWidth = message.width();
            message.css("margin-left", "-" + (messageWidth / 2) + "px");
        })();
    </script>
{% endif %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">{{ config.APP_NAME }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <script>$("<ul class='navbar-nav'></ul>").appendTo("#navbarSupportedContent").load("/user/ajax_info")</script>
</nav>
{% block body %}
{% endblock %}
</body>
</html>